---
  title : Limits
  layout: layouts/article.html

  eleventyNavigation:
    key: Limits
---
{% set params = { problems: [
			{
				q: "Solve the following problem $$ 1 $$",
				a: 1
			}, {
				q: "$$ 2^2+3^3 $$",
				a: 31
			}
]} %}
{% include "partials/ProblemBox.html" %}
<h1>Limits</h1>
<h2>a practical refresher (but on a different page)</h2>

$$ x^2 + 1 - \int_{2.5}^{10} 5x dx$$

Math is fun!


More math is more fun!!!

{% set params = { problems: [
			{
				q: "$$1+2+3$$",
				a: 6
			}, {
				q: "$$1+1$$",
				a: 2
			}, {
				q: "$$2-1$$",
				a: 1
			}
]} %}
{% include "partials/ProblemBox.html" %}

Filler text
<h1>More Filler</h1>
Lorem Ipsum
<hr>
Test

{% set params = { problems: [
			{
				q: "$$1+2+3$$",
				a: 6
			}, {
				q: "$$1+1$$",
				a: 2
			}, {
				q: "$$2-1$$",
				a: 1
			}
]} %}
{% include "partials/ProblemBox.html" %}

Filler text
<h1>More Filler</h1>
Lorem Ipsum
<hr>
Test

{% set params = { problems: [
			{
				q: "$$1+2+3$$",
				a: 6
			}, {
				q: "$$1+1$$",
				a: 2
			}, {
				q: "$$2-1$$",
				a: 1
			}
]} %}
{% include "partials/ProblemBox.html" %}

Filler text
<h1>More Filler</h1>
Lorem Ipsum
<hr>
Test

{% set params = { problems: [
			{
				q: "$$1+2+3$$",
				a: 6
			}, {
				q: "$$1+1$$",
				a: 2
			}, {
				q: "$$2-1$$",
				a: 1
			}
]} %}
{% include "partials/ProblemBox.html" %}
