<div class="prob-box" style="background-color: white; width: 100%; box-sizing: border-box; margin: 0.3em 0; padding: 3mm 5mm ; border-radius: 5mm;">
	<div class="question-field"></div>
	<span class="answer" style="width: 100%; box-sizing: border-box; border-width: 2px; height: 3em;"></span>
	<div style="display: flex; align-items: center;">
		<button class="submit" style="flex: 0 0 auto;">Check Answer</button>
		<span class="result-box" style="flex: 0 0 auto;"></span>
		<span style="flex: 1 1 auto"></span>
		<span class="counter" style="margin-right: 5px;">1/2</span>
		<button class="prev" style="flex: 0 0 auto;">⇐</button>
		<button class="next" style="flex: 0 0 auto;">⇒</button>
	</div>
	<script>
		initBox([
			{% for item in params.problems %}
 	 		{
				q: "{{ item.q }}",
				a: {{ item.a }},
			},
			{% endfor %}
		]);
	</script>
</div>